---
import Layout from "../layouts/Layout.astro";
import Section from "../components/section.astro";
---

<Layout title="Hasan Atak's homepage">
    <!-- wrapper class because of padding -->
    <div class="pt-5 md:pt-3">
        <Section header="About me" />
    </div>
    <Section header="Projects">lmao</Section>
</Layout>
