<div class="-z-1 relative max-w-xs mx-auto w-full rounded-md">
    <div
        class="absolute -left-2 md:-left-4 h-40 w-40 md:w-72 md:h-72 bg-blue-400 rounded-full filter blur-3xl mix-blend-multiply opacity-50 animate-blob"
    >
    </div>
    <div
        class="absolute -right-2 md:-right-4 h-40 w-40 md:w-72 md:h-72 bg-green-300 rounded-full filter blur-3xl mix-blend-multiply opacity-50 animate-blob"
    >
    </div>
    <div
        class="absolute -bottom-4 md:-bottom-8 left-20 h-40 w-40 md:w-72 md:h-72 bg-orange-300 rounded-full filter blur-3xl mix-blend-multiply opacity-50 animate-blob"
    >
    </div>
</div>
