---
import Blobs from "./Blobs.astro";

export interface Props {
    header: string;
    divider?: boolean;
}

const { header, divider = true } = Astro.props as Props;
---

<section class="px-4 md:px-6x">
    <Blobs />
    <h1 class="font-serif font-semibold text-3xl md:text-4xl">
        <span>
            {header}
        </span>
        <slot />
    </h1>
    <div class="border-b-sm border-red-500"></div>
</section>
