---
import logo from "/assets/hazn_logo.svg";
import sparkles from "/assets/sparkles.svg";
import "@fontsource/source-sans-3";
import "@fontsource/source-serif-4";

export interface Props {
    title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>

    <body>
        <div
            class="bg-white max-w-5xl mx-auto md:border-x-sm border-b-md border-black min-h-screen"
        >
            <header class="relative z-50 bg-white">
                <div
                    class="flex justify-between md:gap-5 h-12 md:h-16 mx-auto border-b-[0.125rem] border-black"
                >
                    <!-- hazn logo -->
                    <img
                        class="flex-initial relative h-16 md:h-20 pl-1 top-[11px]"
                        src={logo}
                        alt="Logo of my nickname: hazn"
                    />
                    <!-- as above, so below -->
                    <div
                        class="inline-flex flex-row-reverse gap-1 pr-4 md:pr-6 text-sm md:text-lg"
                    >
                        <!-- sparkles emoji -->
                        <img
                            class="flex-initial place-self-center h-[50%]"
                            src={sparkles}
                            alt="Logo of my nickname: hazn"
                        />

                        <span
                            class="flex-none font-serif w-fit place-self-center"
                            >as above, so below
                        </span>
                    </div>
                </div>
            </header>

            <!-- Hero section -->
            <main>
                <slot />
            </main>
        </div>
    </body>
</html>
